<li>
    <a href="//codepen.io/ferzerkerx/" target="_blank">
        <i class="fab fa-codepen fa-2x"></i>
    </a>
</li>
<li>
    <a href="//github.com/ferzerkerx" target="_blank">
        <i class="fab fa-github fa-2x"></i>
    </a>
</li>
<li>
    <a href="//linkedin.com/in/fernando-montes-de-oca-117b8316" target="_blank">
        <i class="fab fa-linked-in fa-2x"></i>
    </a>
</li>
<li>
    <a href="//www.freecodecamp.com/ferzerkerx" target="_blank">
        <i class="fab fa-free-code-camp fa-2x"></i>
    </a>
</li>
<li>
    <a href="//www.codingame.com/profile/3c44d2d2d34e03a0790ce83f08538566217238" target="_blank">
        C
    </a>
</li>
<li>
    <a href="//www.hackerrank.com/ferzerkerx" target="_blank">
        <i class="fab fa-hackerrank"></i>
    </a>
</li>