{{ partial "header.html" . }}

<div class="row main-row main-single-publication">

    <div class="col-xs-2 left">
        {{ partial "navbar.html" . }}
    </div>
    <div class="col-xs-8 col-md-10 content">

        <article class="single-publication">
            <header>
                <h1 class="project-title">{{ .Title }}</h1> <a href={{ printf "%s" $.Params.link }} target="_blank" class="btn btn-success go-to-repo-btn">Go to repository</a>
            </header>
            <hr class="project-hr"/>
            <div class="single-publication-project">
                {{ .Content }}
            </div>
        </article>


    </div>
</div>

{{ partial "footer.html" . }}