{{ partial "header.html" . }}

<div class="row main-row">

    <div class="col-xs-2 left">
        {{ partial "navbar.html" . }}
    </div>
    <div class="col-xs-8 col-md-10 content">

        <article>
            <header>
                <h1><h1 class="project-title">{{ .Title }}</h1> <a href={{ printf "%s" $.Params.link }} target="_blank" class="project-link">({{ .Params.link }})</a></h1>
            </header>
            <p>
                {{ .Content }}
            </p>
            <p class="text-center">
                <a href={{ printf "%s" $.Params.link }} target="_blank" class="btn btn-info">Go to github repository</a>
            </p>
        </article>


    </div>
</div>

{{ partial "footer.html" . }}