{{ partial "header.html" . }}
{{ partial "navbar-mobile.html" . }}

<div class="row main-row main-single-publication">

    <div class="col-xs-0 col-md-2 left">
        {{ partial "navbar.html" . }}
    </div>
    <div class="col-xs-12 col-md-10 content">

        <article class="single-publication">
            <header>
                <p class="publication-title">
                    {{ .Title }}
                    {{ if eq .Type "post" }}
                    <span class="publication-title-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                    {{ end }}
                </p>
                <hr class="post-hr"/>

            </header>
            <div>
                {{ .Content }}
            </div>
        </article>

    </div>
</div>

{{ partial "footer.html" . }}