{{ partial "header.html" . }}
{{ partial "navbar-mobile.html" . }}

<div class="row main-row">

    <div class="col-xs-0 col-md-2 left">
        {{ partial "navbar.html" . }}
    </div>
    <div class="col-xs-12 col-md-10 content list-content">
        <h1 class="section-title">{{ .Title }}</h1>

        {{ range $index, $page:=.Pages }}

        {{if (eq (mod $index 2) 0)}}
            <div class="row">
        {{end}}

        <div class="list-element col-xs-6 col-md-5">
                <span class="list-element-content">
                    <p class="publication-title">
                        {{ $page.Title }}
                        {{$page.Params.tags}}
                    </p>
                    <hr class="publication-hr"/>
                    {{ $page.Description }}
                    <br/>
                    <p class="text-right continue-reading">
                        <a href="{{ .Permalink }}">Continue Reading <i class="fa fa-caret-right"></i></a>
                    </p>
                </span>
        </div>

        {{if (gt (mod $index 2) 0)}}
        </div>
        {{end}}
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}