{{ partial "header.html" . }}
{{ partial "navbar-mobile.html" . }}

<div class="row main-row">

    <div class="col-xs-2 left">
        {{ partial "navbar.html" . }}
    </div>
    <div class="col-xs-10 col-md-10 content list-content">
        <h1 class="section-title">{{ .Title }}</h1>

        {{ range .Data.Pages }}
            <div class="list-element">
                <span class="list-element-content">
                    <p class="publication-title">
                        {{ .Title }}
                        {{ if eq .Type "post" }}
                        <span class="publication-title-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                        {{ end }}
                    </p>
                    <hr class="publication-hr"/>
                    {{ .Description }}
                    <br/>
                    <p class="text-right continue-reading">
                        <a href="{{ .Permalink }}">Continue Reading <i class="fa fa-caret-right"></i></a>
                    </p>
                </span>
            </div>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}