footer {
    padding-top: 2em;
}

#profile {
    color: beige;
    background-color: black;
    height: 100%;
    position: fixed;
    border-radius: 0px 50px 30px 0px;
    z-index: 1000;
}

#profile-content {
    min-width: 12em;
}

.social {
    border-radius: 2em;
    min-height: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
    bottom: 0;
    position: fixed;
    padding-right: 0.3em;
}

.social-icon {
    padding-left: 0.6em;
}

.social-icon a {
    color: lightseagreen;
}

.social-icon li {
    display: inline;
    margin-right: 1em;
    cursor: pointer;
}

.main-row {
    height: 100%;
    padding-bottom: 3em;
}


.spacer {
    height: 16%;
}

#nav-menu {
    color: lightslategrey;
    font-size: 1.5em;
    margin: auto;
    width: 90%;
}

.nav-item a {
    color: darkgray;
    font-size: 1em;
    cursor: pointer;
}

.nav > li, .nav > li :hover {
    float: none;
    border-radius: 2em;
}

.nav > li > a {
    padding: 5px;
}

.footer {
    margin-left: 12em;
    padding-top: 0;
    z-index: 500;
}

.project-img {
    max-width: 600px;
    max-height: 500px;
}

.project-link {
    margin-right: 1em;
}

.project-title {
    display: inline-block;
    color: darkgray;
    font-size: 3em;
}

.publication-title {
    color: darkgray;
    font-size: 2.5em;
    width: 100%;
    position: relative;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #eee;
}

.img-home-div {
    width: 100%;
    height: 100%;
    margin: auto;
}

.img-home-div img {
    margin-top: 10%;
}


.post-content {
    background-color: beige;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 15px 50px 30px 5px;
    margin-bottom: 1em;
}

.project-content {
    background-color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 15px 50px 30px 5px;
    margin-bottom: 1em;
}

.main-single-publication {
    background-color: whitesmoke;
    min-height: 100vh;
}

/*TODO change it to absolute*/
.go-to-repo-btn {
    position: fixed;
    top: 2em;
    right: 10em;
    font-size: 1.1em;
}

.project-hr, .post-hr {
    margin-top: 0;
    margin-bottom: 1em;
    border-top: 0.3em solid darkseagreen;
    width: 80%;
    margin-right: 20%;
}

.post-hr {
    width: 100%;
}

.publication-hr {
    margin-top: 0;
    margin-bottom: 1em;
    border-top: 0.3em solid darkseagreen;
}

.list-element {
    padding-top: 0.2em;
    padding-bottom: 1em;
    border-radius: 15px 50px 30px 5px;
    margin-bottom: 1em;
    /*border: solid 1px;*/
}

.list-content {
    margin-top: 2%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.list-element-content {
    margin-left: 1em;
    display: block;
 }

/*.list-content div:nth-child(even) {*/
    /*background-color: beige;*/

/*}*/

/*.list-content div:nth-child(odd) {*/
    /*background-color: whitesmoke;*/
/*}*/

.publication-title-date {
    position: absolute;
    right: 1em;
    text-align: right;
    font-size: 0.5em;
    margin-top: 1em;
}

.continue-reading {
    margin-right: 1em;
}

.section-title {
    color: dimgray;
}

.row {
    /*border: solid 1px;*/
}

.left {
    padding-left: 0;
}

.index-section {
    margin-left: 2em;
    margin-right: 2em;
}

.index-row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.single-publication {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.single-publication-project {
    width: 80%;
}