{{ partial "header.html" . }}

<div class="row main-row">

    <div class="col-xs-2 left">
        {{ partial "navbar.html" . }}
    </div>


    <div class="col-xs-8 col-md-10 content">

        <section id="projects">
            <h1>Projects</h1>
            <div class="container">

                {{ range .Data.Pages }}
                {{ if eq .Type "project"}}

                <div class="row">
                    <div class="col-xs-12 col-md-4 section-heading">
                        <h3>{{ with .Title }}{{ . | markdownify }}{{ end }}</h3>

                    </div>
                    <div class="col-xs-12 col-md-6">
                        {{ .Params.link }}
                        <p>
                            {{ .Description }}
                            <br/>
                            <a href="{{ .Permalink }}">More details</a>
                        </p>
                    </div>
                </div>


                {{ end }}
                {{ end }}
            </div>
        </section>

        <hr/>

        <section id="posts">
            <h1>Posts</h1>
            <div class="container">
                {{ $post_num := len (where $.Data.Pages "Type" "post") }}

                {{ range first 10 .Data.Pages }}
                {{ if eq .Type "post"}}



                <div class="row">
                    <div class="col-xs-12 col-md-4 section-heading">
                        <h3>{{ with .Title }}{{ . | markdownify }}{{ end }}</h3>
                        <h4>{{ .Date.Format "Mon, Jan 2, 2006" }}</h4>

                        {{ if gt $post_num .Site.Params.max_post_count }}
                        <p class="view-all">
                            <a href="{{ "/post/" | relURL }}">
                            <i class="fa fa-angle-double-right"></i>
                            </a>
                        </p>
                        {{ end }}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        {{ .Description }}
                        <br/>
                        <a href="{{ .Permalink }}">Keep Reading</a>
                    </div>
                </div>


                {{ end }}
                {{ end }}
            </div>
        </section>

    </div>

</div>


{{ partial "footer.html" . }}

