{{ partial "header.html" . }}

<div class="row main-row">

    <div class="col-xs-2 col-md-2 left">
        {{ partial "navbar.html" . }}
    </div>


    <div class="col-xs-8 col-md-10 content">


        <div class="row">

            <div class="col-xs-4 col-md-5 index-section">
                <section id="projects" class="project-content">
                <h1>Projects</h1>
                <div>

                    {{ range first 4 (where .Data.Pages "Section" "project") }}

                    <div class="row">
                        <div class="section-heading">
                            <h3>{{ with .Title }}{{ . | markdownify }}{{ end }}</h3>
                            <div class="col-xs-12 col-md-6">
                                {{ .Params.link }}
                                <p>
                                    {{ .Summary }}
                                    <br/>
                                    <a href="{{ .Permalink }}">More details</a>
                                </p>
                            </div>

                        </div>

                    </div>

                    {{ end }}
                </div>
            </section>
            </div>

            <div class="col-xs-4 col-md-5">
                <section id="posts" class="post-content">
                <h1>Posts</h1>
                <div>
                    {{ $post_num := len (where $.Data.Pages "Type" "post") }}

                    {{ range first 4 (where .Data.Pages "Section" "post") }}



                    <div class="row">
                        <div class="section-heading">
                            <h3>{{ with .Title }}{{ . | markdownify }}{{ end }}</h3>
                            <h4>{{ .Date.Format "Mon, Jan 2, 2006" }}</h4>

                            {{ .Description }}
                            <br/>
                            <a href="{{ .Permalink }}">Continue Reading</a>
                        </div>

                    </div>


                    {{ end }}
                </div>
            </section>
            </div>

        </div>
    </div>

</div>


{{ partial "footer.html" . }}

